---
- name: Install and start application
  hosts: Rhel
  become: true

  tasks:

  - name: intsall git
    ansible.builtin.dnf:
      name: git
      state: present

  - name: Clone git repo
    ansible.builtin.git:
      repo: https://github.com/jrswanson4/Summit_Kiosk_Site.git 
      dest: /home/ec2-user/DemoApp
      clone: yes
      update: yes 

  - name: install node
    ansible.builtin.dnf:
      name: nodejs
      state: present 

  - name: install npm
    ansible.builtin.shell: npm install
      args:
        chdir: /home/ec2-user/DemoApp

  - name: Start application
    ansible.builtin.shell: npm start
      args:
        chdir: /home/ec2-user/DemoApp 

